.contact{
    margin-top: 60px;
}
.contact h2{
    font-size: 40px;
    color: black;
    width: 300px;
}
.contact p{
    margin: 25px 0;
    font-size: 14px;
}
.contact img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
#contactHeader{
    display: inline-block;
    float: right;
    width: 35%;
    height: 400px;
    padding-top: 65px;
    position: relative;
}
#contactHeader div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#contactForm{
    display: inline-block;
    width: 64%;
    position: relative;
}
#contactForm form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
#contactForm input{
    margin: 10px;
    padding: 5px;
    width: 250px;
}
#contactForm label{
    font-weight: bold;
    font-size: 24px;
}

#message{
    width: 100%;
    outline: none;
    resize: none;
    margin: 10px;
}
.formSecondInput{
    display: inline-block;
}
.goRight{
    position: absolute;
    right: 0;
}
.mapouter{
    width: 100%;
}