.hidden {
  display: none;
}
body{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


a.showMore {
  background: #2b4772;
  color: white;
  padding: 20px 40px;
  border: 3px solid gray;
}

.flex-row{
  flex-direction: row !important;
  justify-content: space-evenly;
}

.flex-wrap-reverse{
  flex-wrap: wrap-reverse !important;
}

/* GENERAL HERO */
.hero{
  line-height: 1.8;
  text-align: center;
  position: relative;
}
.hero-overlay{
  position: absolute;
  margin-top: 10%;
  font-size: 2em;
  background: rgba(255,255,255,.3);
  padding: 50px;
}
.hero-title{
  font-size: 60px;
}
.hero-sub-title{
  font-size: 25px;
  color: #2B4772;
}

.sub-title{
  padding: 20px 0;
  font-size: 20px;
  line-height: 1.2;
}

.headerBox{
  background-color: #D9D9D9;
  margin-top: 1em;
}

.logo {
  margin-right: auto;
  display:inline-block;
  padding: 1em;
  flex-basis: 500px;
}
.menu{
 float:right;
}
.overlay{
  z-index: 1;
  color: #2B4772;
  font-size: 2em;
  margin-top: 4em;
}  /*for overlaid text on video*/

.blueContainer{
  background-color: #2B4772;
  padding: 1em;
  padding-left: 14%;
}

.blueContainer img {
  margin-left: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.yellowContainer{
  background-color: #f7BD48;
  padding: 1em;
  height: 400px;
}

.yellowBckgrd {
  background-color: #f7BD48;
}

.memberOne {
  margin-top: 4em;
  margin-left: 7em;
}

.memberOne h3 {
  margin-left: 3em;
  margin-top: 2em;
}

.space-evenly {
  justify-content: space-evenly;
}

.allignment {
 display: flex;
 flex-direction: column;
 /*margin-left: 4em;*/
 align-items: center;
}

.about-title {
  position: absolute;
  color: rgb(43, 72, 115);
  padding-top: 60%;
  font-size: 2em;
}

.about-text {
  position: absolute;
  color: #2B4772;
  margin-top: 75%;
  text-align: center;
  font-size: 1.2em;
}

.projects-text {
  position: absolute;
  color: #2B4772;
  font-size: 1.7em;
  text-align: center;
  font-weight: 600;
  margin-top: 4em;
  line-height: 1.3em;
}

button {
  width:15em;
  height: 2.5em;
  background-color: #2B4772;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #f7BD48;
}

.btnProjects {
  width:15em;
  height: 4em;
  margin-top: 15em;
  background-color: #2B4772;
  color: #f7BD48;
}

.btnProjects:hover {
  background-color: #f7BD48;
  color: #2B4772;
}

.btnTeam {
  width:15em;
  height: 4em;
  margin-top: 1em;
  background-color: #f7BD48;
  color: #2B4772;
}

.btnTeam:hover {
  background-color: #2B4772;
  color: #f7BD48;
}

p{
  font-size: 15px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2B4772;
}


footer{
  margin: 2em 0;
}

.footer-upper{
  margin:20px 0px 40px;
}

.footer-bottom{
  margin:20px 0px;
  text-align: center;
  font-size: 14px;
}

h3{
  font-size: 25px;
}

.contact{
  text-align: left;
}

.burger div{
  width:40px;
  height: 5px;
  background-color: #2B4772;
  margin:8px;
  border-radius: 5px;
  margin-right: 1em;
}

/* PROJECTS PAGE */
.projects-container{
  margin: 30px 0;
}

/* ABOUT PAGE */
.members > div{
  margin: 50px 0;
  padding: 40px;
  flex-wrap: wrap;
}

.members picture {
  flex: 1;
  text-align: center;
}

.members > div > div{
  padding: 30px;
  line-height: 1.8;
  flex: 2;
}

/* CONTACT US PAGE */

.contact{
  margin-top: 60px;
}
.contact h2{
  font-size: 40px;
  color: black;
  width: 300px;
}
.contact p{
  margin: 25px 0;
  font-size: 14px;
}
.contact img{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#contactHeader{
  display: inline-block;
  float: right;
  width: 35%;
  height: 400px;
  padding-top: 65px;
  position: relative;
}
#contactHeader div{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#contactForm{
  display: inline-block;
  width: 64%;
  position: relative;
}
#contactForm form{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
#contactForm input{
  margin: 10px;
  padding: 5px;
  width: 250px;
}
#contactForm label{
  font-weight: bold;
  font-size: 24px;
}

#message{
  width: 100%;
  outline: none;
  resize: none;
  margin: 10px;
}
.formSecondInput{
  display: inline-block;
}
.goRight{
  position: absolute;
  right: 0;
}
.mapouter{
  width: 100%;
}


/*mobile --> */
@media screen and (max-width:768px){

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: relative;
  margin-right: -20px;
  height: 15em;
  margin-top:10em;
  background-color: #2B4772;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(120%);
  transition: transform 0.1s ease-in ;
  padding: 0 2em;
  z-index: 999;
  width: 100%;
}

.nav-links a{
  color: #f7BD48;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1em;
}

.nav-links li {
  opacity: 1;
  text-align: center;
}
.burger{
  display: block;
}

.nav-active{
  transform: translateX(0%);
  transition: .5s ease-in;
}

.nav-links a:hover{
    text-decoration: underline;
  }
}

.mapouter {
  margin-left: 10%;
}

.contactUs {
  margin-left: 2em;
  color: #2B4772;
  margin-top: 2em;
}

.contactUs p {
  margin-top: 1em;
}

.two-items {
  margin-top: 3em;
}

/* --- Video starts --- */

video {
  width: 80%;
  margin: 5%;
  margin-left: 10%;
  border: thin solid #e1e1e1;
}

#overlay-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99900;
  display: none;
}

#overlay-close-btn {
  position: absolute;
  color: #f7BD48;
  right: 3em;
  padding: 30px 10px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  cursor: pointer;    
}

.video-btn {
  width:15em;
  height: 2em;
  margin-bottom: 10em;
  margin-top: 2em;
  background-color: #f7BD48;
  color: #fff;
  display: block;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding-top: 1em;
}
.video-btn:hover {
  background-color: #2B4772;
}

/* --- Video ends --- */

/*add styling to buttons*/


/*for tablet*/

@media screen and (min-width:770px){
  p{
    font-size: 20px;
    padding: .5em;
  }

  .two-items{
    display: flex;
    flex-direction: row;
  }
  
  button {
    width: 15em;  
    height: 3em;
  }

  .btnProjects {
    width:15em;
    height: 4em;
    margin-top: 19em;
  }

.video-btn{
  width: 15em;
  height: 2em;
}

.about-title {
  position: absolute;
  color: rgb(43, 72, 115);
  padding-top: 20%;
  font-size: 2em;
}

.about-text {
  position: absolute;
  color: #2B4772;
  margin-top: 25%;
  text-align: center;
  font-size: 1.2em;
}

/* -- Nav Tablet Starts -- */
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: relative;
  right: 0px;
  height: 15em;
  margin-top:10em;
  background-color: #2B4772;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width:50%;
  transform: translateX(120%);
  transition: transform 0.1s ease-in ;
}

.nav-links a{
  color: #F7BD48;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover{
  text-decoration: underline;
}

.nav-links li {
  opacity: 100;
}
.burger{
  display: block;
}

.nav-active{
  transform: translateX(0%);
  transition: .5s ease-in;
}

/* -- Nav Tablet Ends -- */

}

@media screen and (min-width:1800px) {
  
  body {
    width: 1800px;
    overflow-x: hidden;
  }

  p {
    font-size: 24px;
    padding: .5em 0;
  }

  .wrap-flex{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  form {
    width: 8em;
  }

  button {
    width:15em;
    height: 4em;
  }

  .btnProjects {
    width:15em;
    height: 4em;
    margin-top: 19em;
  }

  .video-btn{
    width: 15em;
    height: 2em;
    margin-top: 1em;
  }
  .about-title {
    position: absolute;
    color: rgb(43, 72, 115);
    padding-top: 15%;
    font-size: 2em;
  }

.about-text {
  position: absolute;
  color: #2B4772;
  margin-top: 20%;
  text-align: center;
  font-size: 1.2em;
}

.blueContainer{
  background-color: #2B4772;
  justify-content: space-evenly;
  padding: 1em;
}

/*- Nav Desktop Starts -*/

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: white;
  height: fit-content;
  margin-top: 20px;
  right: 0;
  width: auto;
  transition: none;
  transform: none;
  flex: 2;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
color: #2B4772;
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 18px;
}


.nav-links a:hover {
background-color: #F7BD48;
padding: 6px;
border-radius: 4px;
opacity: 80%;
transition: 0.5s ease;
}

.active{
background-color: #F7BD48;
padding: 6px;
border-radius: 4px;
}

.burger {
  display: none;
  cursor: pointer;
}

/*- Nav Desktop Ends -*/

}